/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.div1 {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: cadetblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 10px auto;
    padding: 20px;
}
h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.div2 {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: cadetblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 10px auto;
    padding: 20px;
}
h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.tolov {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 1px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tolov .button1 {
    width: 300px;
    height: 70px;
    background-color: red;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    border: none;
} */
/* =========================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.ret {
    width: 1100px;
    height: 750px;
    margin:auto ;
    margin-top: 170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: 0px 1px 20px 1px;
}
.ret1 {
    width: 300px;
    height: 300px;
    border-radius: 15px;

}
.ret2 {
    width: 300px;
    height: 300px;
    border-radius: 15px;

}
.ret3 {
    width: 300px;
    height: 300px;
    border-radius: 15px;

}
.ret4 {
    width: 300px;
    height: 300px;
    border-radius: 15px;

}
.ret5 {
    width: 300px;
    height: 300px;
    border-radius: 15px;

}
.ret6 {
    width: 300px;
    height: 300px;
    border-radius: 15px;

}
.ret1 img {
    width: 300px;
    height: 300px;
    border-radius: 15px;

}
.ret2 img {
    width: 300px;
    height: 300px;
    border-radius: 15px;

}
.ret3 img {
    width: 300px;
    height: 300px;
    border-radius: 15px;

}
.ret4 img {
    width: 300px;
    height: 300px;
    border-radius: 15px;

}
.ret5 img {
    width: 300px;
    height: 300px;
    border-radius: 15px;

}
.ret6 img {
    width: 300px;
    height: 300px;
    border-radius: 15px;

}
.ret .ret1:hover,.ret2:hover,.ret3:hover,.ret4:hover,.ret5:hover,.ret6:hover {
    transform: scale(1.1);
}
.ret .ret1:active,.ret2:active,.ret3:active,.ret4:active,.ret5:active,.ret6:active {
    transform: scale(0.9);
    transition: 0.1s;
}


