* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.1;
}
.nav {
  width: 1440px;
  height: 110px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div1 h1 {
  color: black;
  margin-left: 50px;
  font-weight: 900;
  font-size: 40px;
}
.div2 i {
  color: black;
  font-size: 20px;
}
.div2 {
  width: 100px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  font-weight: 900;
}
.div3 {
  width: 670px;
  height: 50px;
  border: 1px solid black;
  margin: auto;
  margin-top: -80px;
}
/* ============================================ */
.div4 {
  width: 1440px;
  height: 45px;
  border: 1px solid white;
  margin: auto;
  margin-top: 31px;
}
.div4 .divv {
  display: flex;
  margin-top: 10px;
  margin-left: 50px;
}
.divv1 {
  width: 999px;
  height: 20px;
  margin: auto;
  margin-top: -33px;
  margin-left: 430px;
  display: flex;
  justify-content: space-between;
}
.div4 i {
  margin-top: 5px;
}
.divv1 a {
  text-decoration: none;
}
.divv1 a {
  color: black;
}
/* ===================================== */
.img {
  width: 1440px;
  height: 650px;
  border: 1px solid white;
  margin: auto;
  margin-top: 10px;
  background-image: url(../imtihon/{811828BC-0DFF-4F7C-9F69-86ABAC43F600}.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img1 {
  width: 365px;
  height: 265px;
  margin-left: 135px;
  margin-top: 348px;
  color: white;
}
.img1 p {
  font-size: 14px;
}
.img2 {
  width: 365px;
  height: 126px;
  margin-top: 10px;
  font-size: 34px;
  font-weight: 900;
}
.p1 {
  margin-top: 10px;
  font-size: 14px;
}
.btn1 {
  width: 130px;
  height: 50px;
  border-radius: 8px;
  margin-top: 12px;
}
.iu {
  width: 716px;
  height: 497px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -490px;
  margin-left: 570px;
}
.btn2 {
    width: 1310px;
    height: 40px;
    margin: auto;
    margin-top: -185px;
    display: flex;
    justify-content: space-between;

}
.btn2 i {
    width: 40px;
    height: 40px;
    margin-top: 6px;
    font-size: 20px;
}
.btn2 .btnn {
  transform: rotate(90deg);
  
}
.d-block {
  z-index: -2;
}
