*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.1;
}
.nav {
    width: 1440px;
    height: 110px;
    border: 4px solid blue;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div1 h1 {
    color: black;
    margin-left: 50px;
    font-weight: 900;
    font-size: 40px;
}
.div2 i {
    color: black;
    font-size: 20px;
    
}
.div2 {
    width: 100px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    font-weight: 900;

}
.div3 {
    width: 670px;
    height: 50px;
    border: 1px solid black;
    margin: auto;
    margin-top: -80px;
}
/* ============================================ */
.div4 {
    width: 1440px;
    height: 45px;
    border: 1px solid black;
    margin: auto;
    margin-top: 31px;
    

}
.div4 .divv {
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
}
.divv1 {
    width: 871px;
    height: 20px;
    border: 1px solid black;
    margin: auto;
    margin-top: -33px;
    margin-left: 430px;
    display: flex;
    justify-content: space-between;
}
.divv1 a {
    color: black;
    
}

