* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 1s;
}
.nav {
  width: 1590px;
  height: 60px;
  border: 2px solid rgb(167, 164, 164);
}
.div {
  width: 1510px;
  height: 1510px;
  display: flex;
  justify-content: space-between;
}
.m {
  margin-top: 10px;
  font-weight: 900;
  font-size: 25px;
  padding: 3px;
}
.btn {
  width: 90px;
  height: 30px;
  margin-top: 14px;
  border-radius: 8px;
  background-color: blue;
  color: aliceblue;
  font-weight: 900;
}
.btn1 {
  width: 90px;
  height: 30px;
  margin-top: 14px;
  border: none;
  background-color: white;
  font-weight: 900;
}
.div2 {
  width: 700px;
  height: 60px;
  margin: auto;
  margin-top: -60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.div2 a {
  color: black;
  font-weight: 900;
  text-decoration: none;
  font-size: 18px;
}
.bosh.active {
    display: flex;
}
.bosh {
  width: 300px;
  height: 220px;
  background-color: rgba(0, green, blue, alpha);
  position: absolute;
  right: 10px;
  border-radius: 8px;
  background-color: aqua;
  /* display: none; */
}
.bosh1 {
  width: 300px;
  height: 50px;
  /* border: 1px solid black; */
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.btn2 {
  width: 25px;
  font-weight: 900;
  font-size: 20px;
  border: none;
  background-color: transparent;
}
.bosh1 b {
    padding: 5px;
    margin-top: 8px;
}
.int {
    width: 290px;
    height: 30px;
    margin-left: 5px;
}
.r {
    margin-left: 5px;
}
.bosh .l {
  position: absolute;
  right: 110px;
  margin-top: 45px;
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 6px;
  font-weight: 900;
  background-color: chartreuse;
}
